{% load static tailwind_tags %}

{% load static %}

<!DOCTYPE HTML>
<html lang ="en">
<head>
	<title> title1 </title>
<meta charset= "UTF-8">
<meta name="viewport" content ="width = device-width,initial-scale=1.0">
<meta http-equiv ="X-UA-Compatible"  content ="ie=edge">
{% tailwind_css %}
<link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
</head>
<body>


{% include 'layouts/navbar.html' %}

{% block content %}


{% endblock %}


{% include 'layouts/footer.html' %}
</body>
<html>