{% load static tailwind_tags %}

{% load static %}

<!DOCTYPE HTML>
<html lang ="en">
<head>
	<title> LewisXCs </title>
<meta charset= "UTF-8">
<meta name="viewport" content ="width = device-width,initial-scale=1.0">
<meta http-equiv ="X-UA-Compatible"  content ="ie=edge">
{% tailwind_css %}
<link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
</head>
<body>


{% include 'layouts/navbar.html' %}

{% block content %}


{% endblock %}


{% include 'layouts/footer.html' %}
{% comment %} <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script> {% endcomment %}
<script>
    const mobileMenuToggle = document.querySelector('[data-collapse-toggle="mobile-menu-2"]');
    const mobileMenu = document.getElementById('mobile-menu-2');

    mobileMenuToggle.addEventListener('click', function() {
        const isExpanded = this.getAttribute('aria-expanded') === 'true';
        this.setAttribute('aria-expanded', !isExpanded);
        mobileMenu.classList.toggle('hidden');
    });
</script>


</body>
<html>