{% extends 'base.html' %}
{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-20 mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for kk in todo %}
            <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-full h-full">
                <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96">
                    <img src="{{ kk.imagen.url }}" alt="card-image" class="object-cover w-full h-full" />
                </div>
                <div class="p-6">
                    <div class="flex items-center justify-between mb-2">
                        <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                            {{ kk.title|truncatechars:36 }}
                        </p>
                       
                    </div>
                    <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                        {{ kk.text|truncatechars:40 }}
                    </p>
                </div>
                <div class="p-6 pt-0">
                    <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-200/20 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100" type="button">
                        <a href="{% url 'detalles' kk.id %}">ver</a>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
